body {
  --darkblue: #0c034e;
  --lightgreen: #27efa6;

  color: white;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 250px;
  height: 200px;
  background-color: var(--darkblue);
}

h1 {
  color: var(--lightgreen);
  margin-top: 10px;
  font-weight: 500;
}

p {
  font-size: 16px;
  margin: 0;
}

p:last-child {
  font-size: 40px;
  margin-top: 10px;
}
